*,*::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    /* web estilo neo-brutalistic */
    --color-primary: hsl(225, 72%, 75%);
    --color-secondary: hsl(0, 0%, 0%);
    --color-tertiary: hsl(171, 27%, 48%);
    --color-fourth: hsl(46, 82%, 60%);
    --color-fifth: hsl(312, 100%, 78%);

    --bg-color-primary: hsl(60, 15%, 95%);
    --bg-color-secondary: hsl(200,5%,5%);

    --road-color: #57606f;

    --font-family: 'Handjet';
    /*--font-family: 'Pixelify Sans';*/
}

body {
    font-family: var(--font-family), sans-serif;
    font-size: 16px;
    height: 100dvh;
    width: 100dvw;
    overflow: hidden;
}

/* Header */

.header {
    background-color: var(--color-primary);
    padding: 1rem;
    box-shadow: 6px 6px 0 0 var(--color-secondary);
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 2s ease-in-out;
    z-index: 1000;
}

.header--hidden {
    transform: translateY(200dvh);
    animation: transform 2s ease-in-out;
}

.header__container {
    max-width: 35rem;
    width: 100%;
    background: var(--bg-color-primary);
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    border-radius: 15px;
    border: 3px solid var(--color-secondary);
    box-shadow: 6px 6px 1px 1px var(--color-secondary);
}

.header__title {
    font-size: 3rem;
    color: var(--color-secondary);
    font-weight: 800;
    text-wrap: balance;
    text-align: center;
}

.header__description {
    font-size: 1.4rem;
    color: var(--color-secondary);
    font-weight: 500;
    text-wrap: pretty;
    text-align: center;
}

.header__button {
    max-width: 20rem;
    width: 100%;
    background: var(--color-fifth);
    border-radius: 10px;
    padding: 1rem 2rem;
    color: var(--color-secondary);
    font-family: var(--font-family), sans-serif;
    font-weight: 800;
    font-size: 1.5rem;
    border: 3px solid var(--color-secondary);
}

.header__button:hover {
    background: var(--color-fourth);
    cursor: pointer;
    scale: 1.02;
}
.header__button:active {
    scale: 0.95;
}

/* Main */

.game-container {
    position: relative;
    width: 100dvw;
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem 0;
    background: var(--bg-color-secondary);
}

.canvas {
    background-color: var(--road-color);
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
    max-width: 100%;
    max-height: 80dvh;
}

.ui-layer {
    width: 100%;
    text-align: center;
    pointer-events: none;
}

.score-board {
    color: var(--bg-color-primary);
    font-size: 2rem;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
}

/* Main - Modal GAME OVER */

.game-over {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    pointer-events: auto;
}

.game-over__box {
    background: var(--bg-color-primary);
    padding: 2rem;
    border-radius: 15px;
    text-align: center;
    border: 3px solid var(--color-secondary);
    box-shadow: 6px 6px 1px 1px var(--color-secondary);
    color: var(--color-secondary);
    max-width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.game-over__box h2 {
    font-size: 3rem;
    font-weight: 800;
}

.game-over__box p {
    font-size: 1.5rem;
    font-weight: 600;
}

.hidden /*, .game-over.hidden*/ {
    display: none;
}

.controls {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.control-btn {
    background: var(--color-fourth);
    border: 2px solid var(--text-color);
    color: var(--text-color);
    width: 4rem;
    height: 4rem;
    padding: 0.5rem;
    border-radius: 50%;
    font-size: 1.5rem;
    cursor: pointer;
    transition: transform 0.1s;
}

.control-btn:active {
    transform: scale(0.95);
    background: var(--color-tertiary);
}

/* Media Queries */

@media (max-width: 600px) {
    .score-board {
        font-size: 1.5rem;
    }

    .control-btn {
        width: 5rem;
        height: 5rem;
        font-size: 2rem;
    }

    .controls {
        gap: 1rem;
    }

    .canvas {
        max-height: 75dvh;
    }
}