.header {
    background-color: var(--color-primary);
    padding: 1rem;
    box-shadow: 6px 6px 0 0 var(--color-secondary);
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 2s ease-in-out;
    z-index: 1000; /* Ensure it's on top */
}

.header--hidden {
    transform: translateY(200dvh);
    animation: transform 2s ease-in-out;
}

.header__container {
    max-width: 35rem;
    width: 100%;
    background: var(--bg-color-primary);
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    border-radius: 15px;
    border: 3px solid var(--color-secondary);
    box-shadow: 6px 6px 1px 1px var(--color-secondary);
}

.header__title {
    font-size: 3rem;
    color: var(--color-secondary);
    font-weight: 800;
    text-wrap: balance;
    text-align: center;
}

.header__description {
    font-size: 1.25rem;
    color: var(--color-secondary);
    font-weight: 400;
    text-wrap: pretty;
    text-align: center;
}

.header__button {
    max-width: 20rem;
    width: 100%;
    background: var(--color-fifth);
    border-radius: 10px;
    padding: 1rem 2rem;
    color: var(--color-secondary);
    font-weight: 800;
    font-size: 1.25rem;
    border: 3px solid var(--color-secondary);
}

.header__button:hover {
    background: var(--color-fourth);
    cursor: pointer;
    scale: 1.02;
}
.header__button:active {
    scale: 0.95;
}
