/* style.css */
/* Proyecto Tablero */

@property --tamañoTablero {
  syntax: "<number>";
  inherits: true;
  initial-value: 2;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --tono: 200;
    --color-primario: hsl(200, 80%, 20%);
    --color-secundario: hsl(215, 85%, 35%);
    --color-terciario: hsl(187, 100%, 58%);


    --font-family-principal: montserrat;

    --font-color: hsl(var(--tono), 0%, 15%);

    --tono-atencion: 0;
    --color-atencion: hsl(var(--tono-atencion), 65%, 50%);

    scrollbar-width: thin;
    scrollbar-color: var(--color-secundario) var(--color-primario);
    scrollbar-gutter: auto; /*both-edges*/
    scroll-behavior: smooth;
}

body {
    font-family: var(--font-family-principal), sistem-ui, sans-serif;
    font-size: 16px;
    color: var(--font-color);
    background: conic-gradient(from 45deg at 70% 70%,
    hsl(calc(var(--tono) - 8), 80%, 19%) 0.000deg,
    hsl(var(--tono), 83%, 26%) 27.692deg,
    hsl(calc(var(--tono) + 2), 84%, 26%) 27.692deg,
    hsl(calc(var(--tono) + 2), 84%, 26%) 55.385deg,
    hsl(calc(var(--tono) + 8), 85%, 34%) 55.385deg,
    hsl(calc(var(--tono) + 8), 85%, 34%) 83.077deg,
    hsl(calc(var(--tono) + 10), 85%, 41%) 83.077deg,
    hsl(calc(var(--tono) + 10), 85%, 41%) 110.769deg,
    hsl(calc(var(--tono) + 11), 85%, 48%) 110.769deg,
    hsl(calc(var(--tono) + 11), 85%, 48%) 138.462deg,
    hsl(calc(var(--tono) + 11), 100%, 54%) 138.462deg,
    hsl(calc(var(--tono) + 11), 100%, 54%) 166.154deg,
    hsl(calc(var(--tono) + 7), 100%, 55%) 166.154deg,
    hsl(calc(var(--tono) + 7), 100%, 55%) 193.846deg,
    hsl(calc(var(--tono) + 3), 100%, 55%) 193.846deg,
    hsl(calc(var(--tono) + 3), 100%, 55%) 221.538deg,
    hsl(calc(var(--tono) - 2), 100%, 56%) 221.538deg,
    hsl(calc(var(--tono) - 2), 100%, 56%) 249.231deg,
    hsl(calc(var(--tono) - 7), 100%, 57%) 249.231deg,
    hsl(calc(var(--tono) - 7), 100%, 57%) 276.923deg,
    hsl(calc(var(--tono) - 13), 100%, 58%) 276.923deg,
    hsl(calc(var(--tono) - 13), 100%, 58%) 304.615deg,
    hsl(calc(var(--tono) - 19), 100%, 58%) 304.615deg,
    hsl(calc(var(--tono) - 19), 100%, 58%) 332.308deg,
    hsl(calc(var(--tono) - 20), 100%, 59%) 332.308deg 360.000deg);
    position: relative;
    height: 100dvh;
    width: 100dvw;
}

/* Estilo común: Glassmorphism primario*/
.glassmorphism__primary {
    background: rgba(255, 255, 255, .45);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    border: 2px solid rgba(209, 213, 219, 0.3);
}
/* Estilo común: Glassmorphism secundario*/
.glassmorphism__secondary {
    background: linear-gradient(190deg, rgba(209, 213, 219,0.1)60%, rgba(209, 213, 219,0.7) /*red*/ 100%);
    box-shadow: 0 0 40px -6px rgba(0,0,0,0.2);
    backdrop-filter: blur(4.9px);
}


/* HEADER */

header  {
    font-size: 16px;
    height: 100dvh;
    width: 100%;
    overflow: scroll;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
}

.header--visible {
    top: 0;
    transition: top .5s ease-in-out;
}
.header--noVisible {
    top: -100dvh;
    transition: top .5s ease-in-out;
}


.menu-container {
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border-radius: 15px;
}

h1 {
    color: var(--font-color);
    font-size: 3em;
    font-weight: 800;
    letter-spacing: .1rem;
    text-align: center;
    text-decoration-line: underline;
    text-decoration-thickness: .1em;
    text-underline-offset: .13em;
}

.reglas {
    color: var(--font-color);
    font-size: 1.2em;
    font-weight: 500;
    font-style: italic;
    letter-spacing: .05rem;
    text-wrap: pretty;
    text-align: center;
    max-width: 600px;
    & span {
        font-weight: 700;
    }
}

.configuracion {
    font-size: 1.1em;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    gap: 20px;
    border-radius: 15px;
    padding: 20px 25px;
    border: 2px dashed var(--font-color);
    & .opcion {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 5px;
        & label {
            color: var(--font-color);
        }
        & select, input {
            font-family: var(--font-family-principal), serif;
            font-weight: 400;
            font-size: 0.95em;
            padding: 5px 10px;
            border-radius: 10px;
            width: 100%;
            border: 1px solid var(--font-color);
            background: rgba(255, 255, 255, .6);
            &:focus {
                outline: 2px solid var(--color-secundario);
                box-shadow: 0 0 5px var(--color-primario);
            }
        }
        & select option {
            background: hsl(201, 94%, 94%);
            color: var(--font-color);
            font-size: 1em;
        }
    }
}

.boton-accion {
    font-family: inherit;
    font-weight: 600;
    font-size: 1.2em;
    letter-spacing: .1em;
    word-spacing: .25em;
    border-radius: 25px;
    padding: .6em 1.3em;
    display: flex;
    flex-direction: row;
    gap: 1em;
    justify-content: center;
    align-items: center;
    &:hover {
        scale: 1.05;
        transition: scale .2s ease-in-out;
    }
    &:active {
        scale: 0.95;
        transition: scale .08s ease-in-out;
    }
    transition: background-color .2s ease-in-out;
}

.boton-inicio {
    font-weight: 600;
    font-size: 1.2em;
    color: hsl(0, 0%, 93%);
    background: var(--color-secundario);
    border: 2px solid var(--color-primario);
    &:hover {
        background-color: var(--color-terciario);
        box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1);
        color: var(--font-color);
    }
}

.boton-cancelar {
    font-weight: 700;
    font-size: 1em;
    color: hsl(0, 0%, 93%);
    background: var(--color-atencion);
    border: 2px solid black;
    &:hover {
        background-color: hsl(var(--tono-atencion), 100%, 50%);
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    }
}


/* MAIN */

main  {
    font-size: 16px;
    min-height: 100dvh;
    min-width: 100%;
    padding: 15px;
    display: flex;
    gap: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 100%;
    transition: left .5s ease-in-out;
}
.main--visible {
    left: 0;
    transition: left .5s ease-in-out;
}
.main--noVisible {
    left: 100%;
    transition: left .5s ease-in-out;
}

.tablero {
    border-radius: 30px;
    padding: 20px;
    display: grid;
    grid-template-areas: "c11 c12" "c21 c22";
    grid-template-rows: repeat(var(--tamañoTablero), 1fr);
    grid-template-columns: repeat(var(--tamañoTablero), 1fr);
    gap: 40px 10px;
}


.tablero__casilla  {
    border-radius: 12px;
    padding: 25px;
    color: green;
}






/*.menu-container {
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border-radius: 15px;
    background: rgba(255, 255, 255, .45);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    border: 2px solid rgba(209, 213, 219, 0.3);
}*/


.ficha {
    width: 100px;
    height: 100px;
    background-color: red;
    border: 1px solid black;
}
