/* Estilos de la página del ejercicio soneto */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-fondo-primario: hsl(290, 38%, 85%);
    --color-fondo-secundario: hsl(290, 20%, 50%);

    --tono: 36;
    --color-primario: hsl(var(--tono), 100%, 89%);
    --color-secundario: hsl(var(--tono), 100%, 30%);

    --font-family-principal: serif;

    --font-color: hsl(0, 0%, 20%);

    scrollbar-width: thin;
    scrollbar-color: var(--color-fondo-secundario) var(--color-primario);
    scrollbar-gutter: both-edges;
    scroll-behavior: smooth;
    
}

body {
    font-family: var(--font-family-principal);
    font-size: 16px;
    
}

main {
    background: linear-gradient(to right, var(--color-fondo-primario), transparent),
                linear-gradient(to bottom, var(--color-fondo-secundario), transparent),
                linear-gradient(to left, var(--color-primario) 30%,  transparent),
                linear-gradient(to top, var(--color-secundario) 30%, transparent);
    min-height: 100dvh;
    min-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.soneto {
    background-color: var(--color-primario);
    border-radius: 1rem;
    box-shadow: 0 0 1rem rgba(0,0,0,0.2);
    border-color: var(--color-secundario);
    border-style: solid;
    border-width: 1px;
    padding: 20px;
}

.soneto__titulo {
    font-size: 2rem;
    text-wrap: balance;
    text-align: center;
    font-family: var(--font-family-principal);
    color: var(--font-color);
    margin-bottom: .3rem;
}

.soneto__autor {
    font-size: 1.1rem;
    margin-bottom: 2rem;
    text-align: center;
    font-family: var(--font-family-principal);
    font-style: italic;
    color: var(--font-color);
}

.soneto__texto {
    font-size: 1.2rem;
    line-height: 1.2;
    color: var(--font-color);
    font-family: var(--font-family-principal);
    display: flex;
    flex-direction: column;
    gap: 2.7rem;
}
.texto__estrofa {
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
}
.texto__verso {
    line-height: 1.1rem;
}
