*,*::before,*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@property --numOctavas {
  syntax: "<number>";
  inherits: false;
  initial-value: 1;
}

:root {
    --font-family: 'Montserrat';
    --bg-color-dark: hsl(30, 50%, 83%);
    --bg-color: hsl(30, 92%, 94%);
    --bg-color-light: hsl(30, 100%, 99%);

    --text-color: hsl(19, 100%, 4%);
    --text-color-muted: hsl(31, 37%, 26%);

    --border-color-highlight: hsl(30, 100%, 98%);;
    --border-color: hsl(30, 21%, 48%);
    --border-color-muted: hsl(30, 27%, 60%);

    --action-color-primary: hsl(37, 35%, 41%);
    --action-color-secondary: hsl(206, 71%, 60%);

    --alert-color-danger: hsl(9, 21%, 41%);
    --alert-color-warning: hsl(52, 23%, 34%);
    --alert-color-success: hsl(147, 19%, 36%);
    --alert-color-info: hsl(217 22% 41%);

    --border-radius: 10px;
}

body {
    min-height: 100dvh;
    min-width: 100dvw;
    font-family: var(--font-family), sans-serif;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: 0;
    background-color: var(--bg-color);
    position: relative;
}
.header {
    height: 5rem;
    display: flex;
    align-items: center;
    width: 100%;
    padding: .5rem;
}

.settings-button {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--action-color-primary);
    border: none;
    box-shadow: 0 0 3px rgba(0,0,0,.4);
    border-radius: 50%;
    padding: .4rem;
}
.settings-button:hover {
    cursor: pointer;
    background: var(--action-color-secondary);
}

.main {
    flex: 1 1 auto;
    width: 100%;
    padding: .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.piano {
    background: var(--bg-color-dark);
    box-shadow: 0 0 10px rgba(0,0,0,.4);
    border-radius: var(--border-radius);
    display: flex;
    flex-direction: row;
    width: 600px;
    height: 200px;
    padding: .5rem;
    border: 3px solid var(--border-color-muted);
}

.octava {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.key {
    border-radius: 0 0 var(--border-radius) var(--border-radius);
}
.key:active {
    filter: contrast(60%);
    transform: translateY(2px);
}

.white-key {
    background: var(--bg-color-light);
    border: 2px solid var(--border-color);
    flex: 1 1 auto;
}
.black-key {
    background: var(--text-color);
    width: 8%;
    height: 60%;
    position: absolute;
    z-index: 1;
}

.octava > .black-key:nth-of-type(1) {
    left: 8%;
}
.octava > .black-key:nth-of-type(2) {
    left: 20.7%;
}
.octava > .black-key:nth-of-type(3) {
    left: 46%;
}
.octava > .black-key:nth-of-type(4) {
    left: 58.7%;
}
.octava > .black-key:nth-of-type(5) {
    left: 71.35%;
}

.settings-menu {
    position: fixed;
    height: 100dvh;
    width: 100dvw;
    left: 0;
    top: 0;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--bg-color-light);

}
.settings-menu__inner {
    background: var(--bg-color-dark);
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
