@property --max-width-white-key {
  syntax: '<length>';
  inherits: false;
  initial-value: 10rem;
}

@property --numWhiteKeys {
    syntax: '<number>';
    inherits: false;
    initial-value: 7;
}

*,*::before,*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root{
    --font-family: 'Montserrat', sans-serif;
    --border-radius: 10px;

    --bg-color-dark: hsl(30, 50%, 83%);
    --bg-color: hsl(30, 92%, 94%);
    --bg-color-light: hsl(30, 100%, 98%);
    --bg-color-out-modal: hsla(26, 10%, 17%, 0.8);

    --text-color: hsl(19, 100%, 4%);
    --text-color-muted: hsl(31, 37%, 26%);

    --shadow-color: hsla(0, 0%, 0%, 0.4);

    --border-color-highlight: hsl(30, 50%, 50%);;
    --border-color: hsl(30, 21%, 48%);
    --border-color-muted: hsl(30, 27%, 60%);

    --action-color-primary: hsl(37, 35%, 41%);
    --action-color-secondary: hsl(206, 71%, 60%);

    --alert-color-danger: hsl(9, 21%, 41%);
    --alert-color-warning: hsl(52, 23%, 34%);
    --alert-color-success: hsl(147, 19%, 36%);
    --alert-color-info: hsl(217 22% 41%);

    --bg-toggle-switch: #ddd;
    --bg-toggle-switch-active: #05c46b;
    --bg-toggle-shadow: #ccc;
    --bg-toggle-active-shadow: #04b360;
    --toggle-switch-handle-color: hsl(0,0%,97%);

    --bg-input: hsl(0, 0%, 99%);
    --bg-input__btn: hsl(30,20%,90%);

    /*--max-width-white-key: 10rem;*/
}

body.dark-mode{
    --bg-color-dark: hsl(19, 100%, 4%);
    --bg-color: hsl(26,10%,20%);
    --bg-color-light: hsl(0,2%, 30%);
    --bg-color-out-modal: hsla(26, 10%, 8%, 0.9);

    --text-color: hsl(30, 100%, 93%);
    --text-color-muted: hsl(30, 33%, 82%);

    --shadow-color: hsla(0, 0%, 25%, .4);

    --border-color-highlight: hsl(30, 27%, 50%);
    --border-color: hsl(31, 37%, 26%);
    --border-color-muted: hsl(32, 60%, 20%);

    --action-color-primary: hsl(31, 62%, 64%);
    --action-color-secondary: hsl(209, 76%, 71%);

    --alert-color-danger: hsl(9, 26% ,64%);
    --alert-color-warning: hsl(52, 19%, 57%);
    --alert-color-success: hsl(146, 17%, 59%);
    --alert-color-info: hsl(217, 28%, 65%);
}

html {
    height: 100%;
}

body {
    min-height: 100dvh;
    max-width: 100dvw;
    font-family: var(--font-family), sans-serif;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    background-color: var(--bg-color);
    position: relative;
    overflow-x: hidden;
}
.header {
    height: 5rem;
    display: flex;
    align-items: center;
    width: 100%;
    padding: .5rem;
}

.settings-button {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--action-color-primary);
    border: none;
    box-shadow: 0 0 3px var(--shadow-color);
    border-radius: 50%;
    padding: .4rem;
    transition: transform 0.4s ease-in-out;
}
.settings-button:hover {
    cursor: pointer;
    background: var(--action-color-secondary);
    transform: rotate(90deg);
    transition: transform 0.4s ease-in-out;
}

.main {
    flex: 1 1 auto;
    max-width: 100dvw;
    max-height: 100dvh;
    padding: .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Piano */

.piano {
    background: var(--bg-color-dark);
    box-shadow: 0 0 10px hsla(0, 0%, 0%, 0.4);
    border-radius: var(--border-radius);
    display: flex;
    flex-direction: row;
    width: 100%;
    height: calc(100dvh - 6rem);
    max-height: 400px;
    padding: .5rem;
    border: 3px solid var(--border-color-muted);
}

.octave {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex: 1; /* Octavas crecen y se encogen por igual */
}


.key {
    border-radius: 0 0 var(--border-radius) var(--border-radius);
    cursor: pointer;
}
.key:active {
    filter: contrast(60%);
    transform: translateY(2px);
}

.white-key {
    background: white;
    border: 2px solid var(--border-color);
    flex: 1 1 0;
    max-width: var(--max-width-white-key);
}
.black-key {
    background: black;
    width: 8%;
    height: 60%;
    position: absolute;
    z-index: 1;
}


.octave > .black-key:nth-of-type(1) {
    left: 10%;
}
.octave > .black-key:nth-of-type(2) {
    left: 24.5%;
}
.octave > .black-key:nth-of-type(3) {
    left: 53%;
}
.octave > .black-key:nth-of-type(4) {
    left: 67.5%;
}
.octave > .black-key:nth-of-type(5) {
    left: 82%;
}

/* Settings menu */

.settings-menu {
    position: absolute;
    height: 100dvh;
    width: 100dvw;
    left: 0;
    top: 0;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: min(2%, 10px);
    background-color: var(--bg-color-out-modal);
    backdrop-filter: blur(10px);
    overflow: hidden;
}

.settings-menu--hidden {
    transform: translateX(300dvh);
}
.settings-menu--closing {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}
.settings-menu--opening {
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
}


.settings-menu__inner {
    background: var(--bg-color-light);
    box-shadow: 0 4px 20px 0 var(--shadow-color);
    padding: 2em;
    border-radius: var(--border-radius);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5em;
    max-height: 100dvh;
    overflow-y: auto;
    scroll-behavior: smooth;
    scrollbar-width: thin;
    scrollbar-color: var(--text-color-muted);
}

.settings__title {
    font-size: 2.2em;
    text-align: center;
    color: var(--text-color);
    font-weight: 800;
}
.settings__title span {
    position: relative;
}
.settings__title span::after {
    content: "";
    position: absolute;
    width: calc(100% + 1em);
    height: 4px;
    left: -.5em;
    bottom: -.18em;
    background: linear-gradient(to right, var(--text-color), var(--text-color-muted), var(--text-color));
}

.settings__description {
    font-size: 1.1em;
    font-weight: 400;
    color: var(--text-color-muted);
    text-align: center;
}

.settings__form {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    padding: 1em;
    border: 2px dashed var(--border-color-highlight);
    border-radius: var(--border-radius);
    color: var(--text-color);
}

.settings__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
}

.settings__label {
    font-size: 1.2em;
    color: inherit;
    text-wrap: pretty;
}

.action-button {
    padding: .8em 1.2em;
    background: var(--action-color-primary);
    color: var(--bg-color-light);
    border: 2px solid var(--border-color-muted);
    border-radius: var(--border-radius);
    font-size: 1.3em;
    font-weight: 600;
    letter-spacing: .03em;
    width: 70%;
    min-width: 4rem;
}
.action-button:hover {
    cursor: pointer;
    background: var(--action-color-secondary);
}

/* Toggle dark mode */

.toggle-switch {
    position: relative;
    display: inline-block;
    width: 4em;
    height: 1.6em;
    cursor: pointer;
}

.toggle-switch input[type="checkbox"] {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    margin: 0;
    cursor: pointer;
}

.toggle-switch-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--bg-toggle-switch);
    border-radius: 20px;
    box-shadow: inset 0 0 0 2px var(--bg-toggle-shadow);
    transition: background-color 0.3s ease-in-out;
}

.toggle-switch-handle {
    position: absolute;
    top: .2em;
    left: .2em;
    width: 1.25em;
    height: 1.25em;
    background-color: var(--toggle-switch-handle-color);
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
}

.toggle-switch input[type="checkbox"]:checked + .toggle-switch-background {
    background-color: var(--bg-toggle-switch-active);
    box-shadow: inset 0 0 0 2px var(--bg-toggle-active-shadow);
}

.toggle-switch input[type="checkbox"]:checked + .toggle-switch-background .toggle-switch-handle {
    transform: translateX(2.2em);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2), 0 0 0 3px var(--bg-toggle-switch-active);
}

/* Input number of octaves */

.input-number__container {
    width: 9em;
    height: 2.7em;
    border: 2px solid var(--border-color-highlight);
    border-radius: var(--border-radius);
    display: flex;
    flex-direction: row;
    background-color: var(--bg-input);
}

.input-number {
    flex: 1 1 auto;
    border: none;
    outline: none;
    font-size: 1.2em;
    padding: .2em .5em;
    background: transparent;
    max-width: 3.5em;
}

.input-number__btn {
    width: 3em;
    height: 100%;
    border: none;
    border-left: 2px solid var(--border-color-highlight);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
    cursor: pointer;
    background-color: var(--bg-input__btn);
    box-shadow: inset 0 0 3px hsla(0, 0%, 0%, 0.25);
}

.input-number__btn--last {
    border-radius: 0 calc(var(--border-radius) - 2px) calc(var(--border-radius) - 2px) 0;
}

[data-action='increase']:disabled, [data-action='decrease']:disabled {
    cursor: not-allowed;
    filter: opacity(0.2) brightness(0.5);
}

/* Select style */

.select-style {
    padding: 0.5rem;
    border-radius: var(--border-radius);
    border: 2px solid var(--border-color-highlight);
    background-color: var(--bg-input);
    font-family: var(--font-family), sans-serif;
    font-size: 1.2rem;
    width: 12em;
}
.select-style:focus {
    outline: none;
    border-color: var(--border-color-highlight);
}

