*,*::before,*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@property --numOctavas {
  syntax: "<number>";
  inherits: false;
  initial-value: 1;
}

:root{
    --font-family: 'Montserrat', sans-serif;
    --border-radius: 10px;

    --bg-color-dark: hsl(30, 50%, 83%);
    --bg-color: hsl(30, 92%, 94%);
    --bg-color-light: hsl(30, 100%, 99%);
    --bg-color-out-modal: hsla(26, 10%, 17%, 0.8);

    --text-color: hsl(19, 100%, 4%);
    --text-color-muted: hsl(31, 37%, 26%);

    --shadow-color: hsla(0, 0%, 0%, 0.4);

    --border-color-highlight: hsl(30, 50%, 50%);;
    --border-color: hsl(30, 21%, 48%);
    --border-color-muted: hsl(30, 27%, 60%);

    --action-color-primary: hsl(37, 35%, 41%);
    --action-color-secondary: hsl(206, 71%, 60%);

    --alert-color-danger: hsl(9, 21%, 41%);
    --alert-color-warning: hsl(52, 23%, 34%);
    --alert-color-success: hsl(147, 19%, 36%);
    --alert-color-info: hsl(217 22% 41%);
}

body.dark-mode{
    --bg-color-dark: hsl(19, 100%, 4%);
    --bg-color: hsl(26,10%,20%);
    --bg-color-light: hsl(0,2%, 30%);
    --bg-color-out-modal: hsla(26, 10%, 17%, 0.9);

    --text-color: hsl(30, 100%, 93%);
    --text-color-muted: hsl(30, 33%, 82%);

    --shadow-color: hsla(0, 0%, 25%, .4);

    --border-color-highlight: hsl(30, 27%, 50%);
    --border-color: hsl(31, 37%, 26%);
    --border-color-muted: hsl(32, 60%, 20%);

    --action-color-primary: hsl(31, 62%, 64%);
    --action-color-secondary: hsl(209, 76%, 71%);

    --alert-color-danger: hsl(9, 26% ,64%);
    --alert-color-warning: hsl(52, 19%, 57%);
    --alert-color-success: hsl(146, 17%, 59%);
    --alert-color-info: hsl(217, 28%, 65%);
}

body {
    min-height: 100dvh;
    min-width: 100dvw;
    font-family: var(--font-family), sans-serif;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    background-color: var(--bg-color);
    position: relative;
}
.header {
    height: 5rem;
    display: flex;
    align-items: center;
    width: 100%;
    padding: .5rem;
}

.settings-button {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--action-color-primary);
    border: none;
    box-shadow: 0 0 3px var(--shadow-color);
    border-radius: 50%;
    padding: .4rem;
}
.settings-button:hover {
    cursor: pointer;
    background: var(--action-color-secondary);
}

.main {
    flex: 1 1 auto;
    width: 100%;
    padding: .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.piano {
    background: var(--bg-color-dark);
    box-shadow: 0 0 10px hsla(0, 0%, 0%, 0.4);
    border-radius: var(--border-radius);
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: calc(700px * var(--numOctavas));
    height: 75dvh;
    max-height: 400px;
    padding: .5rem;
    border: 3px solid var(--border-color-muted);
}

.octava {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.key {
    border-radius: 0 0 var(--border-radius) var(--border-radius);
}
.key:active {
    filter: contrast(60%);
    transform: translateY(2px);
}

.white-key {
    background: white;
    border: 2px solid var(--border-color);
    flex: 1 1 auto;
}
.black-key {
    background: black;
    width: 8%;
    height: 60%;
    position: absolute;
    z-index: 1;
}

.octava > .black-key:nth-of-type(1) {
    left: 8%;
}
.octava > .black-key:nth-of-type(2) {
    left: 20.7%;
}
.octava > .black-key:nth-of-type(3) {
    left: 46%;
}
.octava > .black-key:nth-of-type(4) {
    left: 58.7%;
}
.octava > .black-key:nth-of-type(5) {
    left: 71.35%;
}

.settings-menu {
    position: fixed;
    height: 100dvh;
    width: 100dvw;
    left: 0;
    top: 0;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: min(2%, 10px);
    background-color: var(--bg-color-out-modal);
    backdrop-filter: blur(10px);
}

.settings-menu--hidden {
    transform: translateX(200dvh);
}
.settings-menu--closing {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}
.settings-menu--opening {
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
}


.settings-menu__inner {
    background: var(--bg-color-light);
    box-shadow: 0 4px 20px 0 var(--shadow-color);
    padding: 2em;
    border-radius: var(--border-radius);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5em;
}

.settings__title {
    font-size: 2.2em;
    text-align: center;
    color: var(--text-color);
    font-weight: 800;
}
.settings__title span {
    position: relative;
}
.settings__title span::after {
    content: "";
    position: absolute;
    width: calc(100% + 1em);
    height: 4px;
    left: -.5em;
    bottom: -.18em;
    background: linear-gradient(to right, var(--text-color), var(--text-color-muted), var(--text-color));
}

.settings__description {
    font-size: 1.1em;
    font-weight: 400;
    color: var(--text-color-muted);
    text-align: center;
}

.settings__form {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    padding: 1em;
    border: 2px dashed var(--border-color-highlight);
    border-radius: var(--border-radius);
    color: var(--text-color);
}

.settings__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2em;
}

.settings__label {
    font-size: 1.2em;
    color: inherit;
}

.action-button {
    padding: .8em 1.2em;
    background: var(--action-color-primary);
    color: var(--bg-color-light);
    border: 2px solid var(--border-color-muted);
    border-radius: var(--border-radius);
    font-size: 1.3em;
    font-weight: 600;
    letter-spacing: .03em;
    width: 70%;
    min-width: 4rem;
}
.action-button:hover {
    cursor: pointer;
    background: var(--action-color-secondary);
}

@media (orientation: landscape){
    .piano {
        height: 70dvh;
    }
}
